@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'leaflet/dist/leaflet.css';
@import 'leaflet-draw/dist/leaflet.draw.css';

:root {
    --primary-color: #08244d;
    --secondary-color: #ffff;
    --hover-color: #0080ff;
    --text-primary: #ecf9ff;
    --text-secondry: #08244d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
